body{
    width: 1200px;
    margin: auto;
    background: #BDBDBD;
    //background-image: url(http://localhost/luanvan/public/images/111.jpg);
    //background-repeat: repeat;
}
.form-horizontal{
    margin-top: 200px;
    margin-left:50px;
}
#dang-nhap{
    background-color: #2ecc71;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}
.nguoithan
{
    overflow-x:scroll;
    width:100%;
    padding: 0 15px;
}
.nguoithan table
{
    width:1600px;
}

#example1 th{
    background-color: steelblue;
}

